In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [3]:
# Store the CSV yo saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-04-25 02:13:28,-54.8000,-68.3000,44.60,76,20,3.44
1,1,Cherskiy,RU,2021-04-25 02:14:55,68.7500,161.3000,21.88,82,100,13.02
2,2,Atuona,PF,2021-04-25 02:15:19,-9.8000,-139.0333,80.80,73,62,16.08
3,3,Kapaa,US,2021-04-25 02:15:43,22.0752,-159.3190,78.80,65,20,14.97
4,4,Bethel,US,2021-04-25 02:15:44,41.3712,-73.4140,55.00,56,100,3.98

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. 
# Get the maximum temperature.
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

# 4. Assign the heatmap_layer variable to heatmap_layer attribute & add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30>0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

# Callthe figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30>0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

# Callthe figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-04-25 02:15:19,-9.8000,-139.0333,80.80,73,62,16.08
3,3,Kapaa,US,2021-04-25 02:15:43,22.0752,-159.3190,78.80,65,20,14.97
10,10,Rikitea,PF,2021-04-25 02:15:46,-23.1203,-134.9692,78.71,75,100,12.97
14,14,Mogadishu,SO,2021-04-25 02:15:47,2.0371,45.3438,82.65,76,52,9.95
17,17,Saint George,US,2021-04-25 02:15:20,37.1041,-113.5841,78.01,13,1,27.63
19,19,Alugan,PH,2021-04-25 02:15:49,12.2188,125.4808,82.47,72,53,7.00
27,27,Puerto Ayora,EC,2021-04-25 02:15:52,-0.7393,-90.3518,75.76,88,84,6.26
28,28,Butaritari,KI,2021-04-25 02:13:31,3.0707,172.7902,82.67,75,52,10.20
29,29,Tutoia,BR,2021-04-25 02:15:52,-2.7619,-42.2744,77.77,89,99,9.46
31,31,Sur,OM,2021-04-25 02:15:53,22.5667,59.5289,84.22,38,0,7.58

In [15]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Atuona      PF     80.80  -9.8000 -139.0333
3          Kapaa      US     78.80  22.0752 -159.3190
10       Rikitea      PF     78.71 -23.1203 -134.9692
14     Mogadishu      SO     82.65   2.0371   45.3438
17  Saint George      US     78.01  37.1041 -113.5841
19        Alugan      PH     82.47  12.2188  125.4808
27  Puerto Ayora      EC     75.76  -0.7393  -90.3518
28    Butaritari      KI     82.67   3.0707  172.7902
29        Tutoia      BR     77.77  -2.7619  -42.2744
31           Sur      OM     84.22  22.5667   59.5289

In [18]:
# Set the paramenters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():

    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,80.80,-9.8000,-139.0333,Villa Enata
3,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
10,Rikitea,PF,78.71,-23.1203,-134.9692,Pension Maro'i
14,Mogadishu,SO,82.65,2.0371,45.3438,Hotel Juba
17,Saint George,US,78.01,37.1041,-113.5841,Best Western Plus Abbey Inn
19,Alugan,PH,82.47,12.2188,125.4808,JM Lodge
27,Puerto Ayora,EC,75.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Butaritari,KI,82.67,3.0707,172.7902,Isles Sunset Lodge
29,Tutoia,BR,77.77,-2.7619,-42.2744,Pousada Guará's
31,Sur,OM,84.22,22.5667,59.5289,Sur Plaza Hotel

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Adding pop-up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))