## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

# Import API key
sys.path.insert(0,'..')
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,62.01,96,100,4.21,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,73.40,100,75,1.14,broken clouds
2,2,Vestmannaeyjar,IS,63.4427,-20.2734,45.09,71,20,11.81,few clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,68.52,77,4,15.52,clear sky
4,4,Cabo San Lucas,MX,22.8909,-109.9124,75.99,53,1,5.75,clear sky

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip?"))
max_temp = float(input("What is your desired maximum temperature for your trip?"))

What is your desired minimum temperature for your trip?72
What is your desired maximum temperature for your trip?75

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,73.40,100,75,1.14,broken clouds
29,29,Moron,AR,-34.6534,-58.6198,73.99,53,0,9.22,clear sky
74,74,Nishihara,JP,26.1842,127.7558,73.40,78,40,10.36,scattered clouds
96,96,Sao Filipe,CV,14.8961,-24.4956,72.84,77,5,11.48,clear sky
118,118,Popondetta,PG,-8.7537,148.2534,72.77,99,100,1.61,overcast clouds
164,164,Lugoba,TZ,-6.4500,38.3333,72.25,97,98,3.00,light rain
174,174,Victoria,HK,22.2855,114.1577,75.00,93,100,6.76,overcast clouds
176,176,Ampanihy,MG,-24.7000,44.7500,72.39,72,56,7.02,broken clouds
195,195,Port Hedland,AU,-20.3167,118.5667,73.40,49,0,8.05,clear sky
217,217,Kawalu,ID,-7.3817,108.2082,73.13,89,100,1.05,overcast clouds
229,229,Concepcion Del Uruguay,AR,-32.4825,-58.2372,72.00,53,0,1.99,clear sky
234,234,Gat,IL,31.6100,34.7642,72.00,9,0,8.81,clear sky
238,238,Mar Del Plata,AR,-38.0023,-57.5575,73.40,53,0,13.80,clear sky
240,240,Rundu,NaN,-17.9333,19.7667,74.52,41,46,6.58,scattered clouds
252,252,Kiunga,PG,-6.1219,141.2906,72.55,99,100,0.18,heavy intensity rain
259,259,Mbanza-Ngungu,CD,-5.2500,14.8667,72.72,90,100,4.23,overcast clouds
262,262,Poum,NC,-20.2333,164.0167,73.29,59,12,8.52,few clouds
264,264,Kasempa,ZM,-13.4584,25.8338,72.14,63,82,4.27,broken clouds
267,267,Mercedes,AR,-34.6515,-59.4307,75.00,60,1,1.99,clear sky
284,284,Dingle,PH,10.9995,122.6711,74.53,85,14,5.61,few clouds
285,285,Kaabong,UG,3.4836,34.1492,73.26,49,83,11.30,broken clouds
311,311,Mont-Dore,NC,-22.2833,166.5833,73.00,99,58,4.92,broken clouds
319,319,Presidencia Roque Saenz Pena,AR,-26.7852,-60.4388,73.00,52,0,1.99,clear sky
323,323,Pergamino,AR,-33.8900,-60.5736,75.00,50,0,3.00,clear sky
352,352,Mocuba,MZ,-16.8392,36.9856,74.37,84,80,5.77,broken clouds
369,369,General Pico,AR,-35.6566,-63.7568,72.99,52,6,8.88,clear sky
384,384,Vao,NC,-22.6667,167.4833,72.88,58,93,13.35,overcast clouds
401,401,Itoman,JP,26.1247,127.6694,73.40,83,75,14.97,broken clouds
413,413,Tabuk,PH,17.4189,121.4443,72.45,80,59,1.59,broken clouds
510,510,Vangaindrano,MG,-23.3500,47.6000,73.06,90,3,3.71,light rain
527,527,Hargeysa,SO,9.5600,44.0650,73.44,65,96,1.25,moderate rain
532,532,Zhuhai,CN,22.2769,113.5678,73.40,88,40,14.97,light rain
561,561,Pringsewu,ID,-5.3582,104.9744,73.62,96,100,0.85,overcast clouds
572,572,Waingapu,ID,-9.6567,120.2641,73.92,77,81,4.68,broken clouds
582,582,Palu,ID,-0.8917,119.8707,74.52,96,95,2.62,overcast clouds
586,586,Nanakuli,US,21.3906,-158.1547,73.99,88,1,4.61,clear sky
594,594,Iguape,BR,-24.7081,-47.5553,72.64,70,59,8.25,broken clouds
607,607,Gobabis,NaN,-22.4500,18.9667,74.95,26,31,6.71,scattered clouds
609,609,Ahuimanu,US,21.4447,-157.8378,73.99,94,1,3.44,clear sky
610,610,Topeka,US,39.0483,-95.6780,73.40,68,90,5.75,overcast clouds
628,628,Chivilcoy,AR,-34.8957,-60.0167,75.00,67,14,7.00,few clouds
630,630,Phonhong,LA,18.5007,102.4166,74.89,91,95,2.82,light rain
641,641,Florin,US,38.4960,-121.4088,72.00,24,1,1.99,clear sky
648,648,Viedma,AR,-40.8135,-62.9967,74.84,35,46,5.23,scattered clouds
649,649,Quang Ngai,VN,15.1167,108.8000,74.35,91,98,2.98,overcast clouds
663,663,Isangel,VU,-19.5500,169.2667,72.75,60,27,13.00,scattered clouds
672,672,Ergani,TR,38.2653,39.7621,73.40,30,0,6.91,clear sky
678,678,Owando,CG,-0.4819,15.8999,73.47,93,99,3.69,moderate rain
686,686,Maridi,SS,4.9158,29.4742,74.73,64,83,4.94,broken clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                49
City                   49
Country                47
Lat                    49
Lng                    49
Max Temp               49
Humidity               49
Cloudiness             49
Wind Speed             49
Current Description    49
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,73.40,broken clouds,-21.2000,-175.2000,
29,Moron,AR,73.99,clear sky,-34.6534,-58.6198,
74,Nishihara,JP,73.40,scattered clouds,26.1842,127.7558,
96,Sao Filipe,CV,72.84,clear sky,14.8961,-24.4956,
118,Popondetta,PG,72.77,overcast clouds,-8.7537,148.2534,
164,Lugoba,TZ,72.25,light rain,-6.4500,38.3333,
174,Victoria,HK,75.00,overcast clouds,22.2855,114.1577,
176,Ampanihy,MG,72.39,broken clouds,-24.7000,44.7500,
195,Port Hedland,AU,73.40,clear sky,-20.3167,118.5667,
217,Kawalu,ID,73.13,overcast clouds,-7.3817,108.2082,
229,Concepcion Del Uruguay,AR,72.00,clear sky,-32.4825,-58.2372,
234,Gat,IL,72.00,clear sky,31.6100,34.7642,
238,Mar Del Plata,AR,73.40,clear sky,-38.0023,-57.5575,
252,Kiunga,PG,72.55,heavy intensity rain,-6.1219,141.2906,
259,Mbanza-Ngungu,CD,72.72,overcast clouds,-5.2500,14.8667,
262,Poum,NC,73.29,few clouds,-20.2333,164.0167,
264,Kasempa,ZM,72.14,broken clouds,-13.4584,25.8338,
267,Mercedes,AR,75.00,clear sky,-34.6515,-59.4307,
284,Dingle,PH,74.53,few clouds,10.9995,122.6711,
285,Kaabong,UG,73.26,broken clouds,3.4836,34.1492,
311,Mont-Dore,NC,73.00,broken clouds,-22.2833,166.5833,
319,Presidencia Roque Saenz Pena,AR,73.00,clear sky,-26.7852,-60.4388,
323,Pergamino,AR,75.00,clear sky,-33.8900,-60.5736,
352,Mocuba,MZ,74.37,broken clouds,-16.8392,36.9856,
369,General Pico,AR,72.99,clear sky,-35.6566,-63.7568,
384,Vao,NC,72.88,overcast clouds,-22.6667,167.4833,
401,Itoman,JP,73.40,broken clouds,26.1247,127.6694,
413,Tabuk,PH,72.45,broken clouds,17.4189,121.4443,
510,Vangaindrano,MG,73.06,light rain,-23.3500,47.6000,
527,Hargeysa,SO,73.44,moderate rain,9.5600,44.0650,
532,Zhuhai,CN,73.40,light rain,22.2769,113.5678,
561,Pringsewu,ID,73.62,overcast clouds,-5.3582,104.9744,
572,Waingapu,ID,73.92,broken clouds,-9.6567,120.2641,
582,Palu,ID,74.52,overcast clouds,-0.8917,119.8707,
586,Nanakuli,US,73.99,clear sky,21.3906,-158.1547,
594,Iguape,BR,72.64,broken clouds,-24.7081,-47.5553,
609,Ahuimanu,US,73.99,clear sky,21.4447,-157.8378,
610,Topeka,US,73.40,overcast clouds,39.0483,-95.6780,
628,Chivilcoy,AR,75.00,few clouds,-34.8957,-60.0167,
630,Phonhong,LA,74.89,light rain,18.5007,102.4166,
641,Florin,US,72.00,clear sky,38.4960,-121.4088,
648,Viedma,AR,74.84,scattered clouds,-40.8135,-62.9967,
649,Quang Ngai,VN,74.35,overcast clouds,15.1167,108.8000,
663,Isangel,VU,72.75,scattered clouds,-19.5500,169.2667,
672,Ergani,TR,73.40,clear sky,38.2653,39.7621,
678,Owando,CG,73.47,moderate rain,-0.4819,15.8999,
686,Maridi,SS,74.73,broken clouds,4.9158,29.4742,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping.")
        pass

Hotel not found...skipping.
Hotel not found...skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,73.40,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
29,Moron,AR,73.99,clear sky,-34.6534,-58.6198,Hotel MorÃ³n
74,Nishihara,JP,73.40,scattered clouds,26.1842,127.7558,Minshuku Agaihama
96,Sao Filipe,CV,72.84,clear sky,14.8961,-24.4956,Tortuga B&B
118,Popondetta,PG,72.77,overcast clouds,-8.7537,148.2534,Timos Transit House
164,Lugoba,TZ,72.25,light rain,-6.4500,38.3333,
174,Victoria,HK,75.00,overcast clouds,22.2855,114.1577,Mini Hotel Central
176,Ampanihy,MG,72.39,broken clouds,-24.7000,44.7500,Angora Hotel
195,Port Hedland,AU,73.40,clear sky,-20.3167,118.5667,The Esplanade Hotel
217,Kawalu,ID,73.13,overcast clouds,-7.3817,108.2082,KOSAN UNGU UNSIK

In [18]:
hotel_df.count()

City                   47
Country                47
Max Temp               47
Current Description    47
Lat                    47
Lng                    47
Hotel Name             47
dtype: int64

In [19]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [20]:
hotel_df.dtypes

City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']

In [23]:
clean_hotel_df.count()

City                   45
Country                45
Max Temp               45
Current Description    45
Lat                    45
Lng                    45
Hotel Name             45
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Conditions</dt><dd>{Current Description} & {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))